@import 'variables';

.rotate-y-180 {
  .transform(rotateY(180deg));
}

.section-bg-light {
  background-color: @color-bg-base-light;
  padding: @space-level-6 0;
}

p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

.form-control.iamrelos {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid @color-font-base-light;
  .box-shadow(none);
  margin-bottom: @space-level-2;
}

.row {
  margin: 0;
}