@import 'variables';

.rotate-y-180 {
  .transform(rotateY(180deg));
}

.section-bg-light {
  background-color: @color-bg-base-light;
  padding: @space-level-6 0;
}

p {
  font-size: 1rem;
  margin-bottom: 1rem;
}