@import 'variables';

#home-content-wrapper {

  .header-wrapper {
    min-height: 100vh;
    position: relative;

    div:first-child {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      bottom: 0;
      .transform(translate3d(0, -50%, 0));

      .title, .subtitle {
        display: block;
        text-align: center;
        font-weight: @font-thin-weight;
        color: @color-font-base-light;
      }
    }

    .title {
      font-size: 18vw;
    }

    .subtitle {
      position: relative;
      font-size: 5vw;
      top: -6vw;
    }
  }

  .profile-wrapper {
    img:first-child {
      position: relative;
      top: -120px;
      height: 200px;
      width: 200px;
      margin-bottom: 1rem;
    }
  }
}