@import 'variables';

#home-content-wrapper {

  .header-wrapper {
    min-height: 100vh;
    position: relative;
    overflow: hidden;

    div:first-child {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      bottom: 0;
      .transform(translate3d(0, -50%, 0));

      .title, .subtitle {
        display: block;
        text-align: center;
        font-weight: @font-thin-weight;
        color: @color-font-base-light;
        opacity: 0;
      }
    }

    .title {
      font-size: 15vw;
    }

    .subtitle {
      position: relative;
      font-size: 2.7vw;
      top: -4vw;
    }
  }

  .profile-wrapper {
    img:first-child {
      height: 200px;
      width: 200px;
      margin-bottom: 1rem;
    }
  }
}