@import 'variables';

nav.navigation-bar {
  background-color: @color-bg-navbar;
  color: @color-font-base-navbar;
  border-bottom: 2px solid @color-border-base-navbar;
  min-height: @height-navbar;
  position: fixed;
  overflow: hidden;
  padding: 0 @space-level-8;
  z-index: 1001;
  top: 0;
  left: 0;
  right: 0;
  .box-sizing(border-box);

  .navigation-bar-brand {
    display: block;
    text-align: center;

    a {
      line-height: @height-navbar;
      color: @color-font-base-navbar;
      font-size: @font-size-brand;
      font-weight: @font-light-weight;
      .transition(color 150ms linear);

      &:hover, &:focus {
        color: @color-font-hover-navbar;
        text-decoration: none;
      }
    }

    i {
      float: right;
      line-height: @height-navbar;
      .transition(all 800ms linear);

      &:hover, &:focus {
        color: @color-font-hover-navbar;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.navigation-sidebar-container {
  .box-sizing(border-box);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  background-color: @color-bg-base-sidebar;
  .transform(translate3d(100%, 0, 0));
  .transition(transform 500ms ease-in-out);
  
  .left {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: @color-bg-base-sidebar-left;
    width: 50%;
  }
  
  .right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: @color-bg-base-sidebar-right;
    width: 50%;
  }
}

.navigation-sidebar-container.open {
  .transform(translate3d(0, 0, 0));
}

//
//.navigation-sidebar-content {
//  .box-sizing(border-box);
//  position: fixed;
//  top: 0;
//  left: 0;
//  right: 0;
//  bottom: 0;
//  z-index: 999;
//  background-color: rgba(0,0,0,.2);
//  .transform(translate3d(100%, 0, 0));
//  .transition(~"transform 500ms ease-in-out 300ms");
//}



//.navigation-sidebar-content-show {
//  .transform(translate3d(0%, 0, 0));
//  .transition(~"transform 500ms ease-in-out 500ms");
//}

// @media @media-x-small, @media-small {
//   .navigation-sidebar.open {
//     .transition(~"transform 500ms ease-in-out, box-shadow 300ms ease-in-out 500ms");
//   }
// }

// @media @media-x-large {
//   .navigation-sidebar.open {
//     .transition(~"transform 500ms ease-in-out, box-shadow 300ms ease-in-out 500ms");
//   }
// }