nav.navigation-bar {
  background-color: #fff;
  color: #aaa;
  border-bottom: 2px solid #f1f1f1;
  min-height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
nav.navigation-bar .navigation-bar-brand {
  display: block;
  text-align: center;
  line-height: 80px;
  color: #aaa;
  font-size: 40px;
  font-weight: 100;
  transition: color 250ms linear;
}
nav.navigation-bar .navigation-bar-brand:hover,
nav.navigation-bar .navigation-bar-brand:focus {
  color: #333;
  text-decoration: none;
}
body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  background-color: #fff;
  color: #333;
  min-height: 100vh;
}
