.rotate-y-180 {
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
nav.navigation-bar {
  background-color: #ffffff;
  color: #333333;
  border-bottom: 2px solid #f1f1f1;
  min-height: 80px;
  position: fixed;
  overflow: hidden;
  padding: 0 40px;
  z-index: 1001;
  top: 0;
  left: 0;
  right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
nav.navigation-bar .navigation-bar-brand {
  display: block;
  text-align: center;
}
nav.navigation-bar .navigation-bar-brand a {
  line-height: 80px;
  color: #333333;
  font-size: 40px;
  font-weight: 200;
  transition: color 150ms linear;
}
nav.navigation-bar .navigation-bar-brand a:hover,
nav.navigation-bar .navigation-bar-brand a:focus {
  color: #aaaaaa;
  text-decoration: none;
}
nav.navigation-bar .navigation-bar-brand i {
  float: right;
  line-height: 80px;
  transition: all 800ms linear;
}
nav.navigation-bar .navigation-bar-brand i:hover,
nav.navigation-bar .navigation-bar-brand i:focus {
  color: #aaaaaa;
}
nav.navigation-bar .navigation-bar-brand i:hover {
  cursor: pointer;
}
.navigation-sidebar-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  width: 25%;
  overflow: hidden;
  background-color: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  transition: transform 500ms ease-in-out 300ms, box-shadow 300ms ease-in-out;
}
.navigation-sidebar-container.open {
  width: 25%;
  -webkit-box-shadow: -10px 0px 10px -10px #777777;
  box-shadow: -10px 0px 10px -10px #777777;
  -webkit-transform: translate3d(75%, 0, 0);
  -ms-transform: translate3d(75%, 0, 0);
  transform: translate3d(75%, 0, 0);
  transition: transform 500ms ease-in-out, box-shadow 300ms ease-in-out 500ms;
}
body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  background-color: #ffffff;
  color: #333333;
  min-height: 100vh;
}
