.rotate-y-180 {
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.section-bg-light {
  background-color: #fafafa;
  padding: 30px 0;
}
p {
  font-size: 1rem;
  margin-bottom: 1rem;
}
nav.navigation-bar {
  background-color: #fff;
  color: #333;
  border-bottom: 2px solid #f1f1f1;
  min-height: 80px;
  position: fixed;
  overflow: hidden;
  padding: 0 40px;
  z-index: 1001;
  top: 0;
  left: 0;
  right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
nav.navigation-bar .navigation-bar-brand {
  display: block;
  text-align: center;
}
nav.navigation-bar .navigation-bar-brand a {
  line-height: 80px;
  color: #333;
  font-size: 40px;
  font-weight: 200;
  transition: color 150ms linear;
}
nav.navigation-bar .navigation-bar-brand a:hover,
nav.navigation-bar .navigation-bar-brand a:focus {
  color: #aaa;
  text-decoration: none;
}
nav.navigation-bar .navigation-bar-brand i {
  float: right;
  line-height: 80px;
  transition: all 500ms ease;
}
nav.navigation-bar .navigation-bar-brand i:hover,
nav.navigation-bar .navigation-bar-brand i:focus {
  color: #aaa;
}
nav.navigation-bar .navigation-bar-brand i:hover {
  cursor: pointer;
}
.navigation-sidebar-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 100px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  overflow: hidden;
  background-color: #fafafa;
  width: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: width 500ms ease 300ms, box-shadow 300ms ease;
}
.navigation-sidebar-container .content {
  opacity: 0;
  text-align: center;
  transition: opacity 300ms linear;
}
.navigation-sidebar-container .content .navigation-sidebar-brand {
  font-size: 30px;
  font-weight: 200;
  padding-bottom: 3px;
  display: block;
}
.navigation-sidebar-container .content .divider-therefore {
  font-size: 30px;
}
.navigation-sidebar-container .content ul {
  padding: 5px 0 0 0;
  list-style: none;
}
.navigation-sidebar-container .content ul li {
  padding-bottom: 10px;
}
.navigation-sidebar-container .content ul li a {
  font-size: 20px;
}
.navigation-sidebar-container .content ul li a:hover {
  text-decoration: none;
}
.navigation-sidebar-container.open {
  width: 25%;
  -webkit-box-shadow: -10px 0px 10px -10px #777;
  box-shadow: -10px 0px 10px -10px #777;
  transition: width 500ms ease, box-shadow 300ms ease 500ms;
}
.navigation-sidebar-container.open .content {
  opacity: 1;
  transition: opacity 300ms linear 500ms;
}
@media only screen and (max-width: 543px), only screen and (min-width: 544px) and (max-width: 767px) {
  .navigation-sidebar-container.open {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 992px) and (max-width: 1199px) {
  .navigation-sidebar-container.open {
    width: 55%;
  }
}
#home-content-wrapper .header-wrapper {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}
#home-content-wrapper .header-wrapper div:first-child {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}
#home-content-wrapper .header-wrapper div:first-child .title,
#home-content-wrapper .header-wrapper div:first-child .subtitle {
  display: block;
  text-align: center;
  font-weight: 100;
  color: #777;
  opacity: 0;
}
#home-content-wrapper .header-wrapper .title {
  font-size: 10rem;
}
#home-content-wrapper .header-wrapper .subtitle {
  position: relative;
  font-size: 1.7rem;
  top: -4vw;
}
#home-content-wrapper .profile-wrapper img:first-child {
  height: 200px;
  width: 200px;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 543px) {
  #home-content-wrapper .header-wrapper .title {
    font-size: 3rem;
  }
  #home-content-wrapper .header-wrapper .subtitle {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 544px) and (max-width: 767px) {
  #home-content-wrapper .header-wrapper .title {
    font-size: 5rem;
  }
  #home-content-wrapper .header-wrapper .subtitle {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px) {
  #home-content-wrapper .header-wrapper .title {
    font-size: 7rem;
  }
  #home-content-wrapper .header-wrapper .subtitle {
    font-size: 1.5rem;
  }
}
html {
  font-size: 20px;
}
body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  background-color: #fff;
  color: #333;
  min-height: 100vh;
  text-transform: lowercase;
}
