@import 'prefixer';

// fonts
@raleway: 'Raleway', sans-serif;
@font-light-weight: 100;
@font-regular-weight: 300;

// colors
@color-bg-base: #fff;
@color-font-base: #333;
@color-bg-navbar: #fff;
@color-font-base-navbar: #333;
@color-font-hover-navbar: #aaa;
@color-border-base-navbar: #f1f1f1;

// height
@height-navbar: 80px;

// font sizes
@font-size-brand: 40px;