<div id="home-content-wrapper">
    <header class="header-wrapper">
        <div class="container">
            <span class="title animated fadeInDown">creatividad</span>
            <span class="subtitle animated fadeInUp">
                La creatividad es la capacidad de generar nuevas ideas o conceptos,
                o de nuevas asociaciones entre ideas y conceptos conocidos,
                que habitualmente producen soluciones originales.
            </span>
        </div>
    </header>
</div>