<div id="home-content-wrapper">
    <header class="header-wrapper">
        <div class="container">
            <span class="title animated fadeInDown">creatividad</span>
            <span class="subtitle animated fadeInUp">
                La creatividad es la capacidad de generar nuevas ideas o conceptos,
                o de nuevas asociaciones entre ideas y conceptos conocidos,
                que habitualmente producen soluciones originales.
            </span>
            <ul class="social-media-wrapper animated fadeInUp">
                <li><a class="fa fa-2x fa-twitter" href="https://twitter.com/iamrelos" target="_blank"></a></li>
                <li><a class="fa fa-2x fa-github" href="https://github.com/iamrelos?tab=repositories" target="_blank"></a></li>
                <li><a class="fa fa-2x fa-linkedin" href="https://www.linkedin.com/in/christiansoler" target="_blank"></a></li>
            </ul>
        </div>
    </header>
</div>